html, body, #storybook-root, .story, .react-yarn-visual-novel, .dialogue-tree {
  height: 100%;
}

.react-yarn-visual-novel {
  position: relative;
  overflow: hidden;
}

.animation-stage {
}

.dialogue-tree-container {
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.animation-stage__character {
  position: absolute;
  transition: all 500ms ease-in;
}

.character-image-enter {
  left: -100%;
  opacity: 0;
}

.character-image-enter-active {
  left: 0;
  opacity: 1;
}

.character-image-exit {
  left: 0;
  opacity: 1;
}

.character-image-exit-active {
  left: -100%;
  opacity: 0;
}
